logs
target
/.bsp
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
*/project/proejct
*/project/target
.DS_Store
bin/
/db
.eclipse
/lib/
/modules
/project/project
/project/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache
base/.DS_Store